html, .pag {
  background: linear-gradient(to bottom, #4e6459, #f1eace);
  background-attachment: fixed;
}

.navbar-brand {
  font-weight: bold;
}

.head{
  background-color: #232e2d;
}

.w-100{
  
  height: 100vh;
}

.mt-5{
  padding-top: 20px;
}

.nav.nav-pills .nav-link.active{
  background-color: #232e2e;
}

.nav.nav-pills .nav-link{
  color: #232e2e;
}

.sighT{
  color: #232e2e;
}

.btn-dark{
  background: #293636 !important;
}

.addNoteForm{
  height: auto;
}

.cardHome{
  width: 80%;
  background: #eef1e1 !important;
  color: #232e2d;
}

.bottomBtn {
  margin: 0rem 0rem 1rem 0rem;
}

.cardCol{
  color: #232e2d;
  background: #eef1e1 !important;
}

.dropdown-toggle{
  background: #293636 !important;
}
